#header>.fixed-top {
    padding: 0;
    background-color: var(--bs-green-light);
}

#header>*>.container>* {
    display: inline-block;
    padding: 10px;
}

nav>* {
    width: 100%;
}

img {
    max-width: 100%;
}

.link-header {
    text-align: center;
    color: var(--bs-blue-dark);
}

.link-header ul {
    padding: 0;
    margin: 0 0 10px 0;
}

.link-header li {
    display: inline-block;
    padding: 0 10px;
}

.link-header li:hover,
.link-header a:hover {
    color: var(--bs-white);
    background-color: var(--bs-blue-dark);
    transition: 0.8s;
    border-radius: 5px;
}

.menu-header>* {
    padding: 0;
}

.menu-header i,
.menu-header .nav-link {
    color: var(--bs-white);
}

.menu-header .nav-item {
    font-weight: bold;
}

.menu-header .nav-item:hover .dropdown-menu {
    display: block;
}

.menu-header .dropdown-menu {
    left: auto;
}

.menu-header .navbar-brand{
    border: 1px solid var(--bs-white);
}

.menu-header .dropdown-item{
    display: flex;
    justify-content: space-between;
}

#footer {
    height: 5000px;
}