#header>.sticky-top {
    padding: 0;
    background-color: var(--bs-green-light);
}

#header>*>.container>* {
    display: inline-block;
    padding: 10px;
}

nav>* {
    width: 100%;
}

img {
    max-width: 100%;
}

.link-header {
    text-align: center;
    color: var(--bs-blue-dark);
}

.link-header ul {
    padding: 0;
    margin: 0 0 10px 0;
}

.link-header li {
    display: inline-block;
    padding: 0 10px;
}

.link-header li:hover,
.link-header a:hover {
    color: var(--bs-white);
    background-color: var(--bs-blue-dark);
    transition: 0.8s;
    border-radius: 5px;
}

.menu-header>*>* {
    padding: 0;
}

.menu-header i,
.menu-header .nav-link {
    color: var(--bs-white);
}

.menu-header .nav-item {
    font-weight: bold;
}

.menu-header .navbar-brand {
    border: 1px solid var(--bs-white);
}

.menu-header .navbar-brand:hover,
.menu-header .navbar-brand:hover>* {
    background-color: var(--bs-green-light);
    color: var(--bs-blue-dark);
    transition: 1s;
}

.menu-header .nav-item:hover .dropdown-menu {
    display: block;
}

.menu-header .dropdown-menu {
    left: auto;
    margin: 0;
}

.menu-header .dropdown-item {
    color: var(--bs-blue-dark);
}

.menu-header .dropdown-item:hover {
    background-color: var(--bs-green-light);
}

.menu-header .form-control {
    padding: 0 0 0 10px;
    border-color: transparent;
    background-color: transparent;
}

.menu-header .form-control,
.menu-header .form-control>.btn {
    border-radius: 30px;
}

.menu-header .form-control:valid,
.menu-header .form-control:hover {
    background-color: rgb(248, 248, 248);
}

.menu-header .form-control .search-form {
    display: flex;
}

.menu-header .form-control .search-input {
    width: 0px;
    transition: width 1s;
    background-color: transparent;
}

.menu-header .form-control .form-control:focus,
.menu-header .form-control:hover .search-input,
.menu-header .form-control .search-input:valid {
    width: 150px;
    background-color: rgb(248, 248, 248);
}

.search-button {
    cursor: pointer;
    background: transparent;
}

#footer {
    color: var(--bs-white);
    background-color: var(--bs-black);
    padding: 20px;
    text-align: center;
}

#footer>.container>*:last-child {
    margin: 0;
}